// ALL BUTTONS
.btn {
  background: #3e80ad;
  color: #030a14;
  border-color: #030a14;
  border-radius: 20px;
  border-width: 2px;

  &:hover {
    background: #030a14;
    color: #3e80ad;
    border-color: #3e80ad;
    transition: .5s;
  }
}

// FIXED POSITION ON SHOW PAGE
.floating {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  font-size: 40px;
  font-weight: bolder;
  padding: 10px 28px;
  border-width: 2px;
  box-shadow: 1px 1px 7px #3e80ad;
  border-color: #3e80ad;

  &:hover {
    box-shadow: 4px 4px 100px black;
    transition: 2;
  }
}

// SHOW PAGE DELETE BUTTON
.delete {
  position: absolute;
  right: 9%;
}
