.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 50%;
  box-shadow: 4 4 15px rgba(0,0,0,0.2);
  margin-bottom: 15px;

  &:hover {
    opacity: 0.8;
  }
}

.btn {
  background: #3975ac;
  color: #f5f0ef;
  border-color: #f5f0ef;
  border-radius: 20px;
  border-width: 2px;

  &:hover {
    background: #f5f0ef;
    color: #3975ac;
    border-color: #3975ac;
    transition: .5s;
  }
}

.banner {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('colorful_stage_lighting.png');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.container {
  background-color: #f4f7fa;
}

.width-200 {
  width: 200px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-link {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
