// individual containers
.container {
  background-color: #030a14;
}

// container for forms
.form {
  background-color: #3e80ad;
  color: black;
  border-radius: 5px;
  padding: 8px;
  margin: 12px;
  max-width: 300px;
}

// container for entire page
.page {
  background-color: #030a14;
}

// SHOW.HTML.ERB MOVIE CARD
.show-container {
  width: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-start;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
