// Show page, bookmark movie cards
.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
}

// Index 'Rachaels lists' and 'add a list' button
.m-3 {
  color: white;
}
